<div>
  <h3 id="title-text" class="common-style title-style">Title</h3>
  <div>
    <label for="username-input">Username</label>
    <input type="text" id="username-input" class="common-style input-style" />
  </div>
  <div>
    <label for="password-input">Password</label>
    <input type="password" id="password-input" class="common-style input-style" />
  </div>
  <button id="login-button" class="common-style button-style">Login</button>
</div>

<style>
  h3 {
      font-size: 20px
    }

  input[type="text"] {
      background-color: green
    }

  button {
    width: 100px; height: 100px
  }

  * {
    display: flex
  }

  label {
      background-color: green
    }
</style>